.ss1{
    margin: 3.7% 0 6% 0;padding: 0 35px;
}
.ss2{
    background: #ff3333; border: #ff3333;font-weight: bold;font-size: 14px;border-radius: 20px;width: 100%;
}
.ss3{
    text-align: center;font-weight: bold;font-size: 20px;margin-bottom:5%
}
.ss4{
    width:50%; height: auto;margin-left: auto;margin-right: auto;display: block
}
.ss5{
    width: 100%;height: auto;padding: 0 25px;
}
.ss6{
    background: #fffaf5;
}
.ss7{
    color:#ff3333;font-size: 11px;width: 50%;
}
.ss8{
    color: #dedede; font-size: 11px;margin-bottom:6.1%;width: 50%
}
.ss9{
    font-size: 18px;color: #000000;
}
.ss10{
    font-size: 10px;color: #8e8e93;
}
.ss11{
    width: 100%;margin: 50px 0;border-radius: 20px;font-weight: bold;font-size: 12px
}
.ss12{
    color: #ff3333; font-size: 11px;margin-bottom:6.1%;width: 50%
}
.fontfamsi{
    font-family: Rubik;
}
.container1{
    width: 100%;position: absolute;z-index: 1;
}
.progressbar1 li{
    float: left;position: relative;text-align: center;list-style-type: none;display: inline-block;
}
.progressbar1{
    counter-reset: step;padding: 0;
}
.progressbar1 #l1:before{
    content:counter(step);counter-increment: step;width: 20px;height: 20px;border: 3px solid #ff3333;display: block;margin: 0 auto 10px auto;border-radius: 50%;line-height: 27px;background: #fffaf5;color: transparent;text-align: center;font-weight: bold;
}
.progressbar1 #l2:before{
    content:counter(step);counter-increment: step;width: 20px;height: 20px;display: block;margin: 0 auto 10px auto;border-radius: 50%;line-height: 27px;background: #fffaf5;color: transparent;text-align: center;font-weight: bold;background: #dedede;
}
.progressbar1 li:after{
    content: '';position: absolute;width:100%;height: 1px;background: #979797;top: 10px;left: -50%;z-index: -1;
}
.progressbar1 li:first-child:after{
    content: none;
}
.progressbar1 li.active + li:after{
    background: #dedede;
}
.progressbar1 li.active + li:before{
    border-color: #dedede;background: #dedede;
}
.progressbar2 li{
    float: left;position: relative;text-align: center;list-style-type: none;display: inline-block;
}
.progressbar2{
    counter-reset: step;padding: 0;
}
.progressbar2 #l3:before{
    content:counter(step);counter-increment: step;width: 20px;height: 20px;display: block;margin: 0 auto 10px auto;border-radius: 50%;line-height: 27px;background: #ff3333;color: transparent;text-align: center;font-weight: bold;
}
.progressbar2 #l4:before{
    content:counter(step);counter-increment: step;width: 20px;height: 20px;border: 3px solid #ff3333;display: block;margin: 0 auto 10px auto;border-radius: 50%;line-height: 27px;background: #fffaf5;color: transparent;text-align: center;font-weight: bold;
}
.progressbar2 li:after{
    content: '';position: absolute;width:100%;height: 1px;background: #ff3333;top: 10px;left: -50%;z-index: -1;
}
.progressbar2 li:first-child:after{
    content: none;
}
.progressbar2 li.active + li:after{
    background: #dedede;
}
.progressbar2 li.active + li:before{
    border-color: #dedede;background: #dedede;
}
.bt1{
    text-transform: uppercase;background: none;border: solid 2px #dcdcdc;color: #ff3333;font-weight: bold;border-radius: 22px;font-size: 14px; width: 100%;height: 65px;padding: 20px 0 15px 0;
}
.bt1-1{
    background: #ff3333;border: solid 2px #fffaf5;color: #fffaf5;font-weight: bold;border-radius: 22px;font-size: 12px; width: 100%;height: 65px;padding: 15px 0;text-align: left;
}
.bt1:hover{
    background: #ff3333;color: white;border: solid 2px #ff3333;
}
.tbhead1{
    text-align:center;font-size: 18px;color: #000000;font-weight: bold;
}
#ontbl td{
    border-top-color: transparent;
}
.tbbdy1{
    vertical-align:middle;font-size: 10px;font-weight: bold;color: #000000;
}
.upcase{
    text-transform: uppercase;
}
.tcntr{
    text-align:center;
}
.ps45{
    width:45%;
}
.ex3 {
    overflow-y: visible;
    overflow-x: hidden;
    height: 382px;
    padding-left: 10px;
}
.form-check label {
    padding:.75rem 1.25rem;margin-bottom:0;
}
.form-check label input[type="checkbox"] {
    opacity:0;
}
.mselbtn{
    width:100%;background: none;border-radius: 20px;height: 100%;padding-top: 20px;padding-bottom: 5px;border: 1px solid #dcdcdc; color: black
}
.btnchs{
    background: #ff3333;
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    width: 100%;
    border-color: #ff3333;
}
.mselbtn:hover{
    background: #ff3333;
    color: white;
    border: solid 2px #ff3333;
}
.rwbtn{
    padding:0 20px 35px 10px;
}
.ex3::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.ex3::-webkit-scrollbar-track {
    background: gray;
}

/* Handle */
.ex3::-webkit-scrollbar-thumb {
    background: red; 
}

/* Handle on hover */
.ex3::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.src_outlet{
    background:none;font-size: 12px;padding: 10px 0 10px 33px;border-radius: 16px 0 0 16px;border: solid 1px #dcdcdc;
}